numpy
scipy
pandas
coloredlogs
Jinja2
graphviz
click
tabulate
psutil
pysimplegui
requests
openpyxl
pyyaml
python-daemon
inquirer
python-dotenv
co-connect-pseudonymise
sqlalchemy
#psycopg2-binary==2.8.6
sqlalchemy-utils
